.redButton {
  border-radius: 10px !important;
  padding: 20px 0px !important;
  background-color: $redDanger;
  margin: 35px;
}

.redButton2 {
  border-radius: 10px !important;
  padding: 20px 22% !important;
  background-color: $redDanger;
  margin: 35px 0 20px;
}

.redButton:hover {
  background-color: $lightRedDanger !important;
}

.outlineButtonBlack {
  border-radius: 10px !important;
  padding: 20px 15% !important;
  background-color: $bgWhite;
  margin: 35px 0 10px;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 600;
}

.circleButton {
  border-radius: 50%;
  background-color: $grey3;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

.circleButton:hover {
  background-color: $grey1;
}

.circleButton:active {
  background-color: $grey0;
  color: white;
}

@media (max-width: 500px) {
  .outlineButtonBlack{
    font-size: 0.8rem;
  }
}
