.redButton {
  border-radius: 10px !important;
  padding: 20px 0px !important;
  background-color: $redDanger;
  margin: 35px;
}

.redButton:hover {
  background-color: $lightRedDanger !important;
}

.redButton2 {
  border-radius: 10px !important;
  padding: 20px 22% !important;
  background-color: $redDanger;
  margin: 35px 0 20px;
}

//with color of the logo
.brandButton1 {
  border-radius: 10px !important;
  padding: 20px 0px !important;
  background-color: $LogoColorDark !important;
  margin: 35px;
  color: $LogoColorBright !important;
}

.brandButton1:hover {
  background-color: $LogoColorDark2 !important;
  color: $LogoColorBright2 !important;
}

.brandButton1:active {
  background-color: $LogoColorBright !important;
  color: $LogoColorDark !important;
}

.brandButton3 {
  border-radius: 10px !important;
  padding: 20px 22% !important;
  background-color: $LogoColorDark !important;
  color: $LogoColorBright;
  margin: 35px 0 20px;
}

.brandButton3:hover {
  background-color: $LogoColorDark2 !important;
  color: $LogoColorBright2 !important;
}

.brandButton3:active {
  background-color: $LogoColorBright !important;
  color: $LogoColorDark !important;
}

.brandButton4 {
  border-radius: 10px !important;
  padding: 20px 12% !important;
  background-color: $LogoColorBright !important;
  margin: 35px 0 20px;
}

.brandButton4:hover {
  background-color: $LogoColorBright2 !important;
  color: $LogoColorDark2 !important;
}

.brandButton4:active {
  background-color: $LogoColorDark !important;
  color: $LogoColorBright !important;
}

.brandButton5 {
  border-radius: 10px !important;
  padding: 20px !important;
  background-color: $LogoColorDark !important;
  color: $LogoColorBright !important;
  margin: 35px 0 20px;
}

.brandButton5:hover {
  background-color: $LogoColorDark2 !important;
  color: $LogoColorBright2 !important;
}

.brandButton5:active {
  background-color: $LogoColorBright !important;
  color: $LogoColorDark !important;
}

.ErrorButton {
  border-radius: 10px !important;
  padding: 20px !important;
  background-color: $LogoColorDark !important;
  color: $LogoColorBright !important;
  margin: 35px 0 20px;
  max-width: 200px;
}

.ErrorButton:hover {
  background-color: $LogoColorDark2 !important;
  color: $LogoColorBright2 !important;
}

.ErrorButton:active {
  background-color: $LogoColorBright2 !important;
  color: $LogoColorDark2 !important;
}

.log_reg_Button {
  border-radius: 10px !important;
  padding: 10px 12% !important;
  background-color: $LogoColorBright !important;
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: $LogoColorDark;
}

.log_reg_Button:hover {
  background-color: $LogoColorBright2 !important;
  color: $LogoColorDark !important;
}

.log_reg_Button:active {
  background-color: $bgWhite !important;
  color: $LogoColorDark !important;
}

@media screen and (max-width: 767px) {
  .log_reg_Button {
    border-radius: 10px !important;
    padding: 10px 12% !important;
    margin: 15px 0;
    font-size: 1rem;
  }
}



.outlineButtonBlack {
  border-radius: 10px !important;
  padding: 20px 15% !important;
  background-color: $bgWhite;
  margin: 35px 0 10px;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 600;
}

.questionButton {
  width: 300px;
  border-radius: 10px !important;
  padding: 20px 0 !important;
  background-color: $LogoColorDark !important;
  color: $bgWhite;
  margin: 35px 10px 20px;
  align-self: flex-end !important;
}

.questionButton:hover {
  background-color: $LogoColorDark2 !important;
  color: $LogoColorBright2 !important;
}

.questionButton:active {
  background-color: $LogoColorBright2 !important;
  color: $LogoColorDark2 !important;
}

.circleButton {
  border-radius: 50%;
  background-color: $grey3;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

.circleButton:hover {
  background-color: $grey1;
}

.circleButton:active {
  background-color: $grey0;
  color: white;
}

@media (max-width: 500px) {
  .outlineButtonBlack {
    font-size: 0.8rem;
  }
}
