.moneyLogo {
  width: 200px;
  padding-bottom: 100px;
}

.homePageBorder {
  padding: 0 10% !important;
}

.homeCard {
  width: 200px !important;
  height: 300px;
  font-size: 0.8rem;
  text-align: start;
}

.homeIcon {
  font-size: 4rem;
}

.squareBox {
  min-width: 300px !important;
  height: 250px;
  background-color: $bgWhite;
  z-index: 1;
  font-size: 0.8rem;
}

.backBox {
  width: 70%;
  height: 300px;
  background-color: $LogoColorBright;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  left: 15%;
}

.marginTop {
  margin: 150px 150px 25px;
}

.reader {
  font-size: 7rem;
  margin-right: 30px;
}

.marginBottom {
  margin-bottom: 100px !important;
}

@media (max-width: 1600px) {
  .homePageBorder {
    padding: 0 !important;
  }
  .moneyLogo {
    width: 150px;
  }

  .squareBox {
    
    height:200px;
    aspect-ratio: 1/1;
    .homeIcon {
      font-size: 3rem;
    }
  }
  .marginTop {
    margin: 150px 50px 30px;
  }

  .backBox {
    width: 60%;
    height: 300px;
    left: 20%;
  }
}
