.moneyLogo {
  width: 200px;
  padding-bottom: 100px;
}

.homePageBorder {
  padding: 0 10%;
}

.homeCard {
  width: 200px;
  height: 300px;
  font-size: 0.8rem;
  text-align: start;
}

.homeIcon {
  font-size: 4rem;
}

.squareBox {
  width: 27%;
  height: 250px;
  background-color: $bgWhite;
  z-index: 1;
  font-size: 0.8rem;
}

.backBox {
  height: 300px;
  background-color: $LogoColorBright;
  position: absolute;
  z-index: 0;
  width: 90%;
  left: 5%;
}

.mobileBackBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.marginTop {
  margin: 150px 0 30px 10%;
}

.reader {
  font-size: 7rem;
  margin-right: 30px;
}

.marginBottom {
  margin-bottom: 100px!important;
}

@media (max-width: 1600px) {
  .homePageBorder {
    padding: 0 !important;
  }
  .moneyLogo {
    width: 150px;
  }

  .squareBox {    
    width:250px;
    .homeIcon {
      font-size: 3rem;
    }
  }
  
  .marginTop {
    margin: 180px 80px 30px;
  }

  .backBox {
    height: 250px;
  }
}

@media (max-width: 1400px) {
  .squareBox {    
    width:200px;
    height:200px;
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .squareBox {    
    width:170px;
    height:170px;
    padding: 0 5px!important;
    text-align: center!important;    
  }

  .marginTop{
    margin: 180px 70px 30px;
  }
}

@media (max-width: 1100px) {
  .marginTop{
    margin: 180px 80px 30px;
  }
}

@media (max-width: 1000px) {
  .marginTop{
    margin: 180px 20px 30px;
  }

  .squareBox {
    width:130px;
    height:130px;
  }
}

