.loginLogo {
    width: 80%;
}

.loginImgComponent {
    width:45%;
}

.formComponent {
    height: 75vh;
}
// #F7F7F7
.loginTest {
  background: linear-gradient(100deg, #F7F7F7 45%, $LogoColorDark 20%);
  color: $bgWhite;
}

.aaaaa {
    background-color: red;
}