.navBar {
  position: relative;
  box-shadow: 0 3px 2px -2px $grey2;
  background: white;
  height: 90px;
}

.logo3 {
  width: 50px;
  object-fit: cover;
  object-position: top;
}

.webTitle {
  margin-left: 50%;
  transform: translate(-30%, 5%);
}

.fontWebTitle {
  font-size: 3rem!important;
}

.phoneNum {
  color: $grey1;
  line-height: 1.4rem;
  font-size: 0.8rem;
  position: absolute;
  right: 0%;
  transform: translate(-30%, 0);
}

.userLogNav {
  color: $LogoColorDark;
  font-size: 1.4rem;
}

.navButton {
  color: $LogoColorBright;
  background-color: $LogoColorDark;
  border-radius: 15px;
  font-size: 1.1rem;  
}

@media screen and (max-width: 1650px) {
  .fontWebTitle {
    font-size: 2rem!important;
  }

  .logo3 {
    width: 40px;
  }
}

@media screen and (max-width: 1380px) {
  .logo3 {
    display:none;
  }

  .userLogNav {
    display:none;
  }
}

@media screen and (max-width: 800px) {
  .webTitle {
    margin-left: 5%;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 500px) {
  .fontWebTitle {
    font-size: 1.8rem!important;
  }
}
