// color setting
@import "color";

// font setting profile component
@import "fontSetting";

// button section
@import "button";

// Navbar section
@import "navBar";

// LoginPage
@import "login";

// Home Page
@import "home";

// Questionary Page
@import "questionary";

// AsideProfile Relative EstimationPage
@import "asideProfile";

// Section1 relative EstimationPage
@import "section1";

.redbanner {
  background-color: red;
}

body {
  background: $bgGrey;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.mainContainer {
  padding: 0 10%;
}

.section {
  background: $bgWhite;
  box-shadow: 0 0 2px 1px $grey2;
}

.errorPage {
  height: 72.4vh;
}

@media screen and (min-width: 1600px) {
  .mainContainer {
    padding: 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .mainRow {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .mainContainer {
    padding: 0 10%;
  }
}

@media screen and (max-width: 650px) {
  .mainContainer {
    padding: 0 10%;
  }
}

// Section 2 EstimationPage
.section2Title {
  padding: 0 100px;
}

.section2Card {
  padding: 0 50px;
  background-color: $bgGrey;
  border-radius: 15px;
}

.section2CardTitle {
  font-size: 1.5rem;
}

.section2Text {
  color: $grey0;
  line-height: 2rem;
  font-size: 1.2rem;
}

.gradientDiv {
  color: black;
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.creditCard {
  background-color: $bgWhite;
  box-shadow: 1px black;
  width: 400px;
  height: 220px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px $grey2;
}

.creditCard1 {
  background-color: $bgWhite;
  box-shadow: 1px black;
  width: 400px;
  height: 80px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 2px 2px $grey2;
}

.creditCardTitle {
  color: $greenCreditCard;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: -2px;
}

@media screen and (max-width: 1600px) {
  .creditCard {
    width: 300px;
  }

  .creditCard1 {
    width: 300px;
  }

  .creditCardTitle {
    font-size: 1.4rem;
  }

  .section2Title {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .creditCard {
    width: 200px;
  }

  .creditCard1 {
    width: 200px;
  }

  .creditCardTitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .creditCard {
    width: 180px;
    height: 100px;
  }

  .creditCard1 {
    width: 180px;
  }

  .section2Title {
    font-size: 1.3rem;
    padding: 0;
  }

  .section2CardTitle {
    font-size: 1.2rem;
  }

  .section2Text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .creditCard {
    width: 150px;
  }

  .creditCard1 {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  .creditCard {
    width: 130px;
  }

  .creditCard1 {
    width: 130px;
  }

  .section2Title {
    font-size: 1.1rem;
    padding: 0;
  }
  .section2CardTitle {
    font-size: 1rem;
  }
  .section2Text {
    font-size: 0.9rem;
  }
}

.cardLogo1 {
  width: 60px;
}

.cardLogo2 {
  width: 60px;
}

.cardLogo3 {
  width: 35px;
  margin-right: 5px;
  border: 1px solid $greenCreditCard;
}

.blur {
  filter: blur(5px);
  line-height: 1.5rem;
}

// section 3 EstimationPage

.section3 {
  padding: 25px 16% 0;
}

.section3Title {
  padding: 20px 100px;
}

.smallBarCheck {
  border: 2.5px solid $greenSuccess;
  width: 110px;
  margin-left: 10px;
  border-radius: 10px;
}

.smallBar {
  border: 2.5px solid $grey2;
  width: 110px;
  margin-left: 10px;
  border-radius: 10px;
}

.tickBoxChecked {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $bgWhite;
  border: 3px solid $greenSuccess;
  color: $greenSuccess;
}

.tickBoxChecked1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $bgWhite;
  border: 3px solid $greenSuccess;
  color: $greenSuccess;
}

.tickBoxNotChecked {
  border-radius: 50%;
  width: 80px;
  height: 40px;
  background-color: $bgWhite;
  border: 3px solid $grey2;
}

.tickBoxNotChecked1 {
  border-radius: 50%;
  width: 90px;
  height: 40px;
  background-color: $bgWhite;
  border: 3px solid $grey2;
}

.tickBoxText {
  font-weight: 600;
  font-size: 1.3rem;
}

.hrSection3 {
  border: 1px solid $grey0;
  margin: 30px 0;
}

.footer {
  z-index: 10;
  background: black;
  color: white;
  height: 80px;
  font-size: 1.2rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footerLink:hover {
  color: $grey1;
}

@media screen and (max-width: 1600px) {
  .section3Title {
    padding: 0;
  }

  .tickBoxNotChecked {
    width: 100px;
    height: 40px;
  }

  .tickBoxNotChecked1 {
    width: 140px;
    height: 40px;
  }
}

@media screen and (max-width: 1400px) {
  .tickBoxNotChecked {
    width: 130px;
    height: 40px;
  }

  .tickBoxNotChecked1 {
    width: 160px;
    height: 40px;
  }

  .tickBoxChecked {
    width: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .tickBoxNotChecked {
    width: 180px;
    height: 40px;
  }

  .tickBoxNotChecked1 {
    width: 200px;
    height: 40px;
  }

  .tickBoxChecked {
    width: 70px;
  }

  .tickBoxChecked1 {
    width: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .tickBoxNotChecked {
    width: 40px;
  }

  .tickBoxNotChecked1 {
    width: 40px;
  }

  .tickBoxChecked {
    width: 45px;
  }

  .tickBoxChecked1 {
    width: 40px;
  }

  .footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    font-size: 0.8rem;
  }

  .tickBoxChecked {
    width: 70px;
  }

  .tickBoxChecked1 {
    width: 60px;
  }
}

@media screen and (max-width: 600px) {
  .section3Title {
    padding: 0;
    font-size: 1.4rem;
  }

  .tickBoxText {
    font-size: 1.2rem;
  }

  .tickBoxChecked {
    width: 40px;
  }

  .tickBoxChecked1 {
    width: 40px;
  }
}

@media screen and (max-width: 400px) {
  .section3Title {
    padding: 0;
    font-size: 1.2rem;
  }

  .tickBoxText {
    font-size: 1.1rem;
  }
}
