$bgGrey: #f7f8fa;
$bgWhite: white;
$grey0: grey;
$grey1:rgba(180,180,180,180);
$grey2:rgba(220,220,220,220);
$grey3:#eeeff1;
$redDanger: #ed3b44;
$lightRedDanger: #f76970;
$VeryLightRedDanger: #fae5ec;
$yellowWarming: #E9D502;
$lightYellowWarning: #f7ec79;
$VeryLightYellowWarning: #fef1da;
$greenSuccess: #1bbb89;
$lightGreenSuccess: #75fad0;
$VeryLightGreenSuccess: #e7fae5;