// color setting
@import "color";

// font setting profile component
@import "fontSetting";

// button section
@import "button";

// Navbar section
@import "navBar";

// AsideProfile
@import "asideProfile";

// Section1
@import "section1";

body {
  background: $bgGrey;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.mainContainer {
  padding: 0 10%;
}

@media screen and (min-width: 1600px) {
  .mainContainer {
    padding: 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .mainRow {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .mainContainer {
    padding: 0 10%;
  }
}

@media screen and (max-width: 650px) {
  .mainContainer {
    padding: 0 10%;
  }
}
